﻿@model miniprojet.Models.Parking
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbrPlaceLibre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbrPlaceLibre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nbrPlaceOccupe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nbrPlaceOccupe)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")) {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        
    }
    <a asp-action="Index">Back to List</a>
</div>
