﻿@model IEnumerable<miniprojet.Models.Parking>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Parking List</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbrPlaceLibre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbrPlaceOccupe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbrPlaceLibre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbrPlaceOccupe)
            </td>
            <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
