﻿@model miniprojet.Models.Reservation

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="idClient" class="control-label"></label>
                <input asp-for="idClient" class="form-control" />
                <span asp-validation-for="idClient" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="idParking" class="control-label"></label>
                <select asp-for="idParking" class ="form-control" asp-items="ViewBag.idParking"></select>
            </div>
            <div class="form-group">
                <label asp-for="dateDebut" class="control-label"></label>
                <input asp-for="dateDebut" class="form-control" />
                <span asp-validation-for="dateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateFin" class="control-label"></label>
                <input asp-for="dateFin" class="form-control" />
                <span asp-validation-for="dateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
