﻿@model miniprojet.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
